* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.story-title {
  font-family: "Brush Script MT", cursive;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: bold;
}

.stat-number {
  font-family: "Brush Script MT", cursive;
  font-size: 1.5rem;
  color: #ea580c;
  font-weight: bold;
  line-height: 1;
}

.stat-label {
  font-size: 0.7rem;
  color: #6b7280;
  margin-top: 0.125rem;
  line-height: 1;
}

.country-name {
  font-family: "Bradley Hand", "Comic Sans MS", cursive;
  font-size: 0.6rem;
  color: #374151;
  text-align: center;
  line-height: 1.1;
  font-weight: 600;
}

.month-label {
  font-size: 0.5rem;
  color: #9ca3af;
  text-align: center;
  line-height: 1;
}

.based-country {
  font-family: "Bradley Hand", "Comic Sans MS", cursive;
  font-size: 0.85rem;
  color: #374151;
  font-weight: 600;
}
